= form_for(@artist) do |f|
	.field
		%span.attr_title
			= :name
		= f.text_field :name
	.field
		%span.attr_title
			= :websites
		= f.text_field :website1
		= f.text_field :website2
		= f.text_field :website3
	.field
		%span.attr_title
			= :bio
		= f.text_area :bio 
	.actions
		= f.submit
 