= form_for @venue do |f|
  .field
    %span.attr_title 
      = f.label :name
    = f.text_field :name
  .field
    %span.attr_title 
      = f.label :address
    = f.text_field :address
  .field
    %span.attr_title 
      = f.label :venue_type
    = f.select :venue_type, options_for_select([	['Warehouse','Warehouse'],
														['Bar','Bar'],
														['Venue','Venue'],
														['Cafe','Cafe'],
														['House','House'] ] )
  .field
    %span.attr_title 
      = f.label :websites
    = f.text_field :website1
    = f.text_field :website2
    = f.text_field :website3
  .field
    %span.attr_title 
      = f.label :description
    = f.text_area :description
  .actions
    =f.submit