.content
  %h2.red Upcoming Shows
  -if @upcoming_concerts.present?
    = render :partial => 'concerts/clist', :locals => { :concerts => @upcoming_concerts } 
  -else
    This venue does not have any upcoming shows.
.sidebar
  %h1.white
    = @venue.name
  .divider
  %h2.white Description:
  .pod.red.tan
    -if @venue.description.present?
      = @venue.description
    -else 
      This venue does not have a description filled out.
  %h2.white Address:
  .pod.red.tan
    = @venue.address
  %h2.white Websites:
  .pod.red.tan
    websites!
  = link_to 'Edit', edit_venue_path(@venue.id), :class=>'red-button'
