<div class="venue_full">
	<h1 class="page_title"><%= @venue.name %></h1>
	
	<div class="info_block">
		<span class="attr_title">Type:</span>
		<%= @venue.venue_type %>
	</div>
	
	<div class="info_block">
		<span class="attr_title">Address:</span>
		<%= @venue.address %>
	</div>
	
	<div class="info_block">
		<span class="attr_title">Description:</span>
		<%= @venue.description %>
	</div>
	
	<div class="info_block">
		<span class="attr_title">Phone:</span>
		<%= @venue.phone %>
	</div>
	
	<div class="info_block">
		<span class="attr_title">Email:</span>
		<%= @venue.email %>
	</div>
	
	<div class="info_block">
		<span class="attr_title">Websites:</span>
		<%= link_to 'Website', @venue.website %>
	</div>
		
	<%= link_to 'Edit', edit_venue_path(@venue.id), :class=>"red_button" %>
</div>
