.content
  %h2.red Upcoming Shows
  -if @upcoming_concerts.present?
    = render :partial => 'concerts/clist', :locals => { :concerts => @upcoming_concerts } 
  -else
    This venue does not have any upcoming shows.
.sidebar
  .pod.red.tan
    %h1.red
      = @venue.name
    .divider
    %h3.red Description:
    .pod.red.tan.indent
      -if @venue.description.present?
        = @venue.description
      -else 
        This venue does not have a description filled out.
    %h3.red Address:
    .pod.red.tan.indent
      = @venue.address
    %h3.red Websites:
    .pod.red.tan.indent
      websites!
  = link_to 'Edit', edit_venue_path(@venue.id), :class=>'red-button'
