.concert_full
	.info_block
		%span.attr_title Description:
		= c.description
	.info_block
		%span.attr_title Lineup:
		%ul.concert_lineup
			- c.artists.each_with_index do |a, index|
				%li
					- i = index
					- while i >= 0 
						&='--'
						- i = i - 1
					= a.name
	
	.info_block
		%span.attr_title Show Info:
		- if c.price.present?
			$ #{c.price} .
		- else 
			FREE!!!
		- if c.venue.present?
			= link_to '@' + c.venue.name, venue_path(c.venue.id), :class => 'red_link'
		#{c.concert_date.strftime('%I:%M %p')} . #{c.age}
		
	= link_to "Edit", edit_concert_path(c), :class=>"red_button"
	= link_to 'Delete Show', c, :confirm => 'Are you sure?', :method => :delete, :class=>"red_button"
	