<div class="concert_full">
				<div class="info_block">
				<span class="attr_title">Description:</span>
					<%= c.description%>
				</div>
				
				<div class="info_block">
				<span class="attr_title">Lineup:</span>
				<ul class="concert_lineup">
					<% c.artists.each_with_index do |a, index |%>
						<li>
						<% i = index %>
						<% while i >= 0 %>
							<%= '--' %>
							<% i = i - 1 %>
						<% end %>
						<%= a.name %>
						</li>					
					<%end%>
				</ul>
				</div>
				
				<div class="info_block">
					<span class="attr_title">Show Info:</span>
					<% if c.price != '' %>
						<%= "$" + c.price + ". " %>
					<% else %>
						<%= "$FREE!!!" %>
					<% end %>
					<% if c.venue != nil %>
						<span class="red_link">@<%= c.venue.name %></span>
					<% end %>
					<%= c.concert_date.strftime('%I:%M %p') +". "+ c.age %>
				</div>
		
				<%= link_to "Edit", edit_concert_path(c), :class=>"red_button" %>
				<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete, :class=>"red_button" %></div>
	