.concert-stub
  %a.block-link{ :href => '/concerts/' + c.id.to_s }
    %ul.lineup
      - c.artists.each_with_index do |a, index|
        %li
          = a.name
    %span.red
      = c.venue.name
    =' @ '
    #{c.concert_date.strftime('%I:%M %p')}. #{c.age}.
    - if c.price.present?
      $ #{c.price} .
    - else 
      FREE!!!
	
	