= form_for @concert do |f| 
	.field
		%span.attr_title Description
		= f.text_area :description
	.field
		%span.attr_title Show Date
		= f.datetime_select :concert_date
	.field
		%span.attr_title Price
		$
		= f.text_field :price
	.field
		%span.attr_title Age
		= f.select :age, options_for_select([	['ALL AGES!!!','ALL AGES!!!'],
													['16+','16+'],
													['18+','18+'],
													['21+','21+'] ])
	.field
		%span.attr_title Lineup
		%input{ :type=>'hidden', :id=>'temp_artist'}
		.suggest_field
			%input#artist_autocomplete
			= button_tag "Add Artist", :type=>"button", :id=>"add_artist"
		%ul.edit_concert_lineup
			- if :artist_ids.present?
				- @concert.artists.each do |artist|
					%li
						= artist.name
						%input{ :type=>'hidden', :name=>'concert[artist_ids][]',:value=>artist.id }
						= link_to 'Remove', '#', :class=>'remove_artist red_link'				
	.field
		%span.attr_title Venue
		%input{:type=>'hidden', :id=>'temp_venue'}
		#venue_area
			-if @concert.venue.present? 
				%input{ :type=>'hidden', :name=>'concert[venue_id]', :value=>@concert.venue.id }
				= @concert.venue.name
				= button_tag "Change Venue", :type=>"button", :id=>"change_venue"
			-else
				.suggest_field
					%input#venue_autocomplete
					= button_tag "Select Venue", :type=>'button', :id=>'select_venue'
	.actions
		= f.submit
		

