= form_for @concert do |f| 
  %fieldset 
    %legend.red Show Info
    .field
      %legend.red Description *
      = f.text_area :description
    .field
      %legend.red Show Date *
      = f.datetime_select :concert_date, :ampm => true, :minute_step => 15
    .field
      %legend.red Price( $ )
      = f.text_field :price
    .field
      %legend.red Age 
      = f.text_field :age
  %fieldset
    %legend.red Lineup * 
    .field
      %input#artist_autocomplete
      %ul.lineup
        - if :artist_ids.present?
          - @concert.artists.each do |artist|
            %li
              = artist.name
              %input{ :type=>'hidden', :name=>'concert[artist_ids][]',:value=>artist.id }
              = link_to 'Remove', '#', :class=>'remove_artist red-button'	
  %fieldset	
    %legend.red Venue *
    .field
      %input#venue_autocomplete
      -if @concert.venue.present? 
        %input{ :type=>'hidden', :name=>'concert[venue_id]', :value=>@concert.venue.id }
        = @concert.venue.name
    #venue_area
    #new_artist_form{ :title => 'New Artist'}
      New artist form here.
  .actions
    = f.submit 'Create'
		

