
	<%= form_for @concert do |f|%>

		<div class="field"> 
			<span class="attr_title"><%= f.label :description %></span>
			<%= f.text_area :description %>
		</div>
	
		<div class="field">
			<span class="attr_title"><%= f.label :show_date %></span>
			<%= f.datetime_select :concert_date %>
		</div>
		
		<div class="field">
			<span class="attr_title"><%= f.label :price %></span>
			$<%= f.text_field :price %>
		</div>

		<div class="field">
			<span class="attr_title"><%= f.label :age %></span>
			<%= f.select :age, options_for_select([	['ALL AGES!!!','ALL AGES!!!'],
													['16+','16+'],
													['18+','18+'],
													['21+','21+'] ])%>
		</div>
		
		<div class="field">
			<span class="attr_title"><%= f.label :lineup %></span>
			
			<div class="suggest_field">
				<input id="artist_autocomplete"/>
				<%= button_tag "Add Artist", :type=>"button", :id=>"add_artist" %>
			</div>
			
			
			<input id="temp_artist" type="hidden" name="tempartist" value=""></input>
			
			<ul class="edit_concert_lineup">
				<% if @concert.artists != '' && @concert.artists != nil %>
					<% @concert.artists.each do |a|%>
						<li><%= a.name %><input type="hidden" name="concert[artist_ids][]" value="<%= a.id %>"></input>
						<%= link_to 'Remove', '#', :class=>'remove_artist red_link' %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
		
		<div class="field">
			<span class="attr_title"><%= f.label :venue %></span>
			
			<input id="temp_venue" type="hidden" name="tempvenue" value=""></input>
			<div id="venue_area">
				<% if @concert.venue != nil %>
					<input type="hidden" name ="concert[venue_id]" value="<%= @concert.venue.id %>"></input>
					<%= @concert.venue.name %><br/>
					<%= button_tag "Change Venue", :type=>"button", :id=>"change_venue"%>
				<% else %>
					<div class="suggest_field">
						<input id="venue_autocomplete"></input>
						<%= button_tag "Select Venue", :type=>"button", :id=>"select_venue" %>
					</div>
				<% end %>
			</div>
		</div>
		
		<div class="actions">
			<%= f.submit  %>
		</div>
	<% end %>