<!DOCTYPE html>
<html>
<head>
  <title>ConcertCalendar</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id ="header">
			<%= image_tag "header.jpg", :id => "header_image" %>
			<ul id="navigation">
				<li><%= link_to 'Calendar', concerts_path, :class => "navlink"%></li>
				<li><%= link_to 'Artists', artists_path, :class => "navlink" %></li>
				<li><%= link_to 'Venues', venues_path, :class => "navlink" %></li>
			</ul>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
